.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  letter-spacing: 0.1rem;
}

form,
.result {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

small {
  text-align: center;
}

.form-control {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1em;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.vector {
  font-size: 16px;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.25rem 0.5rem;
  //   border-radius: 4px;
  width: 100%;
}

.calculate-btn {
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2em;
  border: 1px solid black;
}

.instruction {
  padding: 1em;
}

.question {
  font-weight: bold;
}
